.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1f1f1f;
    border-radius: 10px;
    margin: 13px;
    min-width: 9rem;
    min-height: 7rem;
}
.card h2{
    color : #fff;
}
.card:hover{
    border: 1px solid #8235ff;
}