.apresent {
    display: flex;
    align-items: center;
    margin: 18rem auto 20rem auto;
    max-width: 100%;
}

.apresentText {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 20px;
    color: #fff;
    text-align: left;
    gap: 20px;
    justify-items: left;
    overflow: hidden;
    max-width: 65ch;
}

.apresentText p {
    text-align: left;
    color: darkgray;
    overflow: hidden;
    max-width: 50ch;
}

.simb {
    position: absolute;
    right: 0%
}

.botSob {
    color: #fff;
    background-color: rgb(149, 96, 198);
    padding: 15px 20px;
    border-radius: 4px;
    width: fit-content;
    transition: 0.3s ease-in-out;
}

.botSob:hover {
    background-color: rgb(126, 51, 197);
}

.neg {
    color: rgb(159, 86, 226);
}

@media (max-width:1250px) {
    .simb {
        display: none;
    }

    .apresent {
        align-items: center;
        margin-top: 17rem;
        margin-bottom: 6rem;
    }

    .apresentText {
        text-align: center;
        margin: 0 auto;
    }

    .apresentText p {
        text-align: center;
        margin: 0 auto;
    }

    .botSob {
        margin: 10px auto 0 auto;
    }
}

@media(max-width:600px) {
    .apresent {
        flex-direction: column;
        margin: 13rem auto 6rem auto;
        width: 70%;
    }

    .apresentText {
        text-align: center;
        font-size: 15px;
        width: 100%;
        justify-content: center;
    }

    .apresentText p {
        margin: 0 60px;
        font-size: 12px;
    }
}