.FooterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 5rem;
    width: 90%;
}

p {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

.byLogo {
    display: flex;
    align-items: center;
    gap: .5rem;
}

span {
    color: #8235FF;
}

@media (max-width:760px) {
    .FooterContainer {
        justify-content: center;
    }
    .byLogo{
        display: none;
    }
}
