.headerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgb(17, 17, 17);
    align-items: center;
}

.header {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

ul {
    display: flex;
    gap: 1.5rem;
    padding-right: 1.9rem;
}

.logo {
    width: 11rem;
}

nav a {
    position: relative;
    cursor: pointer;
}

nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -6px;
    left: 0;
    background: linear-gradient(270deg, #986dff 0%, #17161d 100%);
    transform-origin: bottom right;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1)
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left
}

a:hover {
    color: rgb(255, 255, 255);
}

.mobileMenuIcon {
    display: none;
}

.mobileMenu {
    opacity: 0;
    transition: opacity 2s ease, max-height 0.3s ease;
    max-height: 0;
    overflow: hidden;
    border-bottom: 3px solid #222222;
}

.mobileMenu ul {
    margin-top: 2rem;
    gap: 10px;
}


@media (max-width:62.5rem) {
    .header {
        width: 70%;
        margin-top: 1rem;
        align-items: center;
    }

    .navContainer ul {
        display: none;
    }

    .mobileMenuIcon {
        display: block;
        background-color: transparent;
        border: none;
        padding-top: 0.5rem;
        cursor: pointer;
    }

    .mobileMenu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        font-size: 20px;
    }

    .open {
        display: block;
        opacity: 1;
        max-height: 300px;
        z-index: 999;
    }
}

@media (max-width:37.5rem) {
    .header {
        width: 90%;
    }
}