.sobremimContainer {
  grid-column: 2/6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 5rem auto;
  width: 90%;
  max-width: 70rem;
  background-color: #171717;
  border-radius: 0.4375rem;
  border: 0.125rem solid #1f1f1f;
}

.perfil {
  height: 30em;
  margin: 1.5625rem;
  background: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  max-width: 90%;
  object-fit: contain;
}

.descricao {
  margin: 1.5625rem;
}

.quemSou {
  color: #8235ff;
  font-family: Archivo;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.meuNome {
  color: #ffffff;
  font-family: Archivo;
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.frontEnd {
  color: #ffffff;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 0.9375rem;
}

.sobremimContainer p {
  color: #949494;
  font-size: 1.25rem;
  text-align: left;
  overflow: hidden;
}
.contatos{
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.contatos a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  background-color: rgb(17, 17, 17);
  border: #222 0.125rem solid;
  border-radius: 0.3125rem;
  }
  .contatos a:hover{
    border: #8235ff 0.125rem solid;
  }

.logoContato{
  height:2rem;
  width: auto;
  max-width: 100%;
}

@media (max-width: 1000px) {
  .sobremimContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 70%;
  }

  .sobremimContainer p {
    max-width: 50ch;
  }

  .perfil{
    margin-top: 1rem;
    height: auto;
    width: 25rem;
  }
  .logoContato{
    height:1.5rem;
  }
}

@media (max-width: 600px) {
  .sobremimContainer {
    margin-top: 9rem;
  }
  .perfil{
    height: 20em;
    width: auto;
  }
  .contatos a{
    height: 3rem;
    width: 3rem;
  }
  .quemSou {
    font-size: 1rem;
  }

  .meuNome {
    font-size: 1.5rem;
  }

  .frontEnd {
    font-size: 1rem;
  }

  .sobremimContainer p {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .sobremimContainer {
    margin-top: 9rem;
  }

  .perfil{
    height: 15em;
    width: auto;
  }
  .quemSou {
    font-size: 1rem;
  }
  .meuNome {
    font-size: 1.5rem;
  }
  .contatos a{
    height: 2.5rem;
    width: 2.5rem;
  }
  .frontEnd {
    font-size: 1rem;
  }

  .sobremimContainer p {
    font-size: 0.8rem;
  }
}
